<section class="banner_main">
  <div id="presentacion">
    <h3>Nuestro Equipo</h3>
    <h2>"Programando desde 2018"</h2>
    <h1>Nuestro equipo de programadores tiene mucha experiencia para dirigir proyectos web y todo lo necesario para trabajar tus ideas, o montar para tu empresa una página web. Además toda nuestra experiencia nos permite estar capacitados para capacitarte mediante nuestros cursos de programación, para que de esta manera tu también puedas formar parte de nuestro equipo o trabajar en tus propios proyectos web</h1>
    <hr>
  </div>

</section>
<!-- end banner -->


<!-- why -->
<div id="why" class="why">
  <div class="container">
     <div class="row">

     </div>
     <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
           <div id="box_ho" class="why-box">
              <i><img id="imgRad" src="../../../assets/Daniel.png" alt="#" /></i>
              <h3>Daniel</h3>
              <p>Ingeniero en ciencias computacionales. Lenguajes dominados: Java, Python.
                Frameworks: Laravel, Angular.</p>
           </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
           <div class="why-box">
              <i><img id="imgRad" src="../../../assets/Raul.png" alt="#" /></i>
              <h3>Raul</h3>
              <p>Ingeniero en ciencias computacionales. Lenguajes dominados: Java, Python.
                Frameworks: Laravel, Angular.
              </p>
           </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
           <div class="why-box">
              <i><img id="imgRad" src="../../../assets/Tommy.png" alt="#" /></i>
              <h3>Tommy</h3>
              <p>Ingeniero en ciencias computacionales. Lenguajes dominados: Java, Python.
                Frameworks: Laravel, Angular.</p>
           </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
           <div class="why-box">
              <i><img id="imgRad" src="../../../assets/Darinka.jpeg" alt="#" /></i>
              <h3>Darinka</h3>
              <p>Ingeniera en Ciencias Conputacionales <br> Graduada en Diseño de software <br> Domina el Ingles y el Español <br> Trabajos como ayudante </p>
           </div>
        </div>
     </div>
  </div>
</div>
<!-- end why -->
<!-- contact -->



