
<body>


<main>
  <div class="tituloCur">

    <h1 class="visually-hidden">CURSO TITULO</h1>
  </div>


  <div class="container px-4 py-5" id= "modulo">
    <h2 class="pb-2 border-bottom">MODULO 1: </h2>
    <div class="row g-4 py-5">
      <div id= "video" class="feature col">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/chPhlsHoEPo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
        <div id = "contenido"class="feature col">
          <h2>Subtitulo 1</h2>
          <p>Texto 1</p>
          <button type="button" class="btn  btn-outline-secondary" routerLink=''>Evaluación</button>
        </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="container px-4 py-5" id= "modulo">
    <h2 class="pb-2 border-bottom">MODULO 2: </h2>
    <div class="row g-4 py-5">
      <div id= "video" class="feature col">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/chPhlsHoEPo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
        <div id = "contenido"class="feature col">
          <h2>Subtitulo 1</h2>
          <p>Texto 1</p>
          <button type="button" class="btn  btn-outline-secondary" routerLink=''>Evaluación</button>
        </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="container px-4 py-5" id= "modulo">
    <h2 class="pb-2 border-bottom">MODULO 3: </h2>
    <div class="row g-4 py-5">
      <div id= "video" class="feature col">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/chPhlsHoEPo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
        <div id = "contenido"class="feature col">
          <h2>Subtitulo 1</h2>
          <p>Texto 1</p>
          <button type="button" class="btn  btn-outline-secondary" routerLink=''>Evaluación</button>
        </div>
    </div>
  </div>


  <div class="b-example-divider"></div>





</main>
</body>


