

<body>



  <main>

    <section class="text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Mis Cursos</h1>
        </div>
      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

          <div class="col" *ngFor="let cursoE of cursosItems">

          <div class="col" >

            <div class="card shadow-sm">
              <img src="{{cursoE.linkImagen}}"  class="img-fluid" alt="">

              <div class="card-body">
                <p class="card-text">{{cursoE.nombre}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn  btn-outline-secondary" routerLink='/client/vista-curso' (click)="guardarcurso(cursoE.id)">Ingresar</button>
                    <button type="button" class="btn  btn-outline-secondary" (click)="deleteRegistro(cursoE)">Abandonar</button>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

            </div>
          </div>
        </div>


  </main>


</body>


