* {
    box-sizing: border-box !important;
  
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    color: #666666;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.80857;
    font-weight: normal;
  }
  
  
  h1,
  h2 {
    letter-spacing: 0;
    font-weight: normal;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
  }
  
  h1 {
    font-size: xx-large;
    color: white;
    font-weight: 900;
  }
  
  h2 {
    font-size: 22px
  }
  
  *,
  *::after,
  *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  #tabla{
    padding: 4% 0% 4% 0%;
  }
  
  h2 {
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 40px;
    color: #0d0f38;
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  :focus {
    outline: 0;
  }
 
  