<header>
   <!-- header inner -->
   <div class="header" id="cabecera">
      <div class="container">
         <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
               <div class="full">
                  <div class="center-desk">
                     <div class="logo">
                      <i><img src="../../../assets/logoPagina.png" width= "200" height= "50" alt="#" /></i>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
               <nav class="navigation navbar navbar-expand-md navbar-dark ">
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation" (click)="myFunction()">
                  <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="navbar-collapse collapse" id="navbarsExample04">
                     <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                           <a class="nav-link" routerLink='/inicio'    >Inicio</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" routerLink='/noticias'  > Noticias  </a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" routerLink='/equipo'   > Equipo de Desarollo  </a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" routerLink='/servicios'   > Servicio</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" routerLink='/contactos'   >Contactos</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" routerLink='/ingreso'   >Ingresar</a>
                        </li>
                     </ul>
                  </div>
               </nav>
            </div>
         </div>
      </div>
   </div>
</header>

