<!--TUROTIAL-->
<link href="https://unpkg.com/intro.js/minified/introjs.min.css" rel="stylesheet">

<!--<app-header></app-header>-->
<section class="contact_section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12" style="padding: 4%;">
          <h2>Información</h2>
          <h1>Ciudad: Guayaquil / Telefono: 04200000 <br>Correo: webgit@gmail.com</h1>
          <hr>
          <div id="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3987.0146834751063!2d-79.96667828619331!3d-2.1480648377768277!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902d72f925e5bfdb%3A0x327cdb9f7f4ba3b2!2sEscuela%20Superior%20Polit%C3%A9cnica%20del%20Litoral%20(ESPOL)!5e0!3m2!1ses!2sec!4v1626326691618!5m2!1ses!2sec" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </div>

      </div>
      <div class="col-xs-12 col-sm-12 col-md-12" style="padding: 0%;">
              <div class="form_contact">
                                <!-- contact -->
                <div id="contact" class="contact">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-6 offset-md-3 ">

                        <form class="main_form" >
                          <div class="row">
                            <div class="col-sm-12">
                              <input class="contactus" placeholder="Nombre y Apellidos" type="text" required
                                name="Name" id="nombre" data-title="Nombres"
                                data-intro="Aqui ingresa los nombres con los que estás registrado en el correo.">
                            </div>
                            <div class="col-sm-12">
                              <input class="contactus" placeholder="Celular" type="text" required
                                name="Phone" data-title="Celular"
                                data-intro="Ingresa aquí tu número celular donde te gustaría recibir información de nuestros cursos en oferta.">
                            </div>
                            <div class="col-sm-12" data-title="Genero" data-intro="Selecciona tu género.">
                              <label style="color:white" for="genero">
                                <FONT SIZE=4><u>Género:</u></FONT>
                              </label>
                              <br>
                              <input type="radio" id="masculino" name="gender" selected value="masculino">
                              <label style="color:white" for="masculino">
                                <FONT SIZE=3> Masculino</FONT>
                              </label><br>
                              <input type="radio" id="femenino" name="gender" value="femenino">
                              <label style="color:white" for="femenino">
                                <FONT SIZE=3> Femenino</FONT>
                              </label><br>
                              <input type="radio" id="otro" name="gender" value="otro">
                              <label style="color:white" for="otro">
                                <FONT SIZE=3> Otro</FONT>
                              </label>
                            </div>
                            <div class="col-sm-12" data-title="Fehca de nacimiento"
                              data-intro="Registra la fecha en la que naciste. Recuerda que para recibir nuestra información de ofertas y nuevos cursos debes ser mayor de edad.">
                              <label style="color:white" for="fecha">
                                <FONT SIZE=4><u>Fecha de nacimiento:</u></FONT>
                              </label>
                              <input class="contactus" placeholder="Fecha" type="date" required name="Date">
                            </div>
                            <div class="col-sm-12">
                              <label style="color:white" for="lugarO">
                                <FONT SIZE=4><u>Lugar de origen:</u></FONT>:
                              </label>
                              <select name="paises" class="contactus" data-title="País"
                                data-intro="¿Cuál es tu país de origen o dónde recides actualmente?">
                                <option value="mexico">México</option>
                                <option value="colombia">Colombia</option>
                                <option value="españa">España</option>
                                <option value="argentina">Argentina</option>
                                <option value="peru">Perú</option>
                                <option value="venezuela">Venezuela</option>
                                <option value="chile">Chile</option>
                                <option value="guatemala">Guatemala</option>
                                <option value="ecuador">Ecuador</option>
                                <option value="bolivia">Bolivia</option>
                                <option value="republica dominicana">República Dominicana</option>
                                <option value="honduras">Honduras</option>
                                <option value="el salvador">El Salvador</option>
                                <option value="paraguay">Paraguay</option>
                                <option value="nicaragua">Nicaragua</option>
                                <option value="costa rica">Costa Rica</option>
                                <option value="panama">Panamá</option>
                                <option value="uruguay">Uruguay</option>
                                <option value="puerto rico">Puerto Rico</option>
                              </select>
                            </div>
                            <div class="col-sm-12" data-title="Correo"
                              data-intro="Ingresa tu correo donde podamos contactarte.">
                              <input class="contactus" placeholder="Email" type="text" required
                                name=" Email" id="correo">
                            </div>
                            <div class="col-sm-12" data-title="Detalles"
                              data-intro="¿Por qué motivos nos escribes?, deseas recibir información de un curso, ¿cuál?  ¿Quieres formar parte de nuestro equipo? Cuéntanos, dobre ti.">
                              <textarea class="textarea" placeholder="Detalles" type="text" required name="Message"></textarea>
                            </div>
                            <div class="col-sm-12">
                              <button type="submit" class="send" (click)="enviarInfo()">Enviar</button>
                            </div>
                          </div>
                        </form>


                      </div>
                    </div>
                  </div>
                </div>
                <!-- end contact -->
              </div>
            </div>
        </div>
      </div>

</section>
<!-- end section -->

<!--
  <form
  action="https://formspree.io/f/mrgrrdpv"
  method="POST"
>
  <label>
    Your email:
    <input type="email" name="_replyto">
  </label>
  <label>
    Your message:
    <textarea name="message"></textarea>
  </label>
  <!-- your other form fields go here 
  <button type="submit">Send</button>
</form>
-->


<!-- google map js -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8eaHt9Dh5H57Zh0xVTqxVdBFCvFMqFjQ&callback=initMap"></script>
<!-- end google map js -->
<!-- TUTORIAL INICIO -->
<script src="https://unpkg.com/intro.js/minified/intro.min.js"></script>
<script>
  introJs().setOptions({ 'skipLabel': 'Saltar', 'nextLabel': 'Siguiente', 'prevLabel': 'Anterior', 'doneLabel': 'Finalizar' }).start()
  introJs().start()

  const $form=document.querySelector('#form')

  $form.addEventListener('submit',handleSubmit)
  async function handleSubmit(event){
    event.preventDefault()
    const form =new FormData(this)

    const response = await fetch(this.action, {

      method: "POST",
      body: form,
      headers:{
        'Accept': 'application/json'
      }
    })

    if(response.ok){
      this.reset()
      alert('Gracias por contactarnos, te escribiré pronto :)')
    }
  }


</script>
