
   <body id="default_theme" class="services">
      <!-- section -->
      <section class="layout_padding layer_style">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <div class="full text_align_center">
                     <div class="heading_main center_head_border heading_style_1">
                        <h2>Te ofrecemos <span>Desarrollo web</span></h2>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row app-features">
               <div class="col-md-4 col-sm-6 col-xs-12">
                  <ul class="features-left">
                     <li>
                        <i class="flaticon-wordpress-logo"></i>
                        <div class="fl-inner">
                           <h4>WordPress Installation</h4>
                           <p>Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. </p>
                        </div>
                     </li>
                     <li>
                        <i class="flaticon-windows"></i>
                        <div class="fl-inner">
                           <h4>Browser Compatible</h4>
                           <p>Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. </p>
                        </div>
                     </li>
                     <li>
                        <i class="flaticon-price-tag"></i>
                        <div class="fl-inner">
                           <h4>eCommerce Ready</h4>
                           <p>Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. </p>
                        </div>
                     </li>
                     <li>
                        <i class="flaticon-new-file"></i>
                        <div class="fl-inner">
                           <h4>Easy to Customize</h4>
                           <p>Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. </p>
                        </div>
                     </li>
                  </ul>
               </div>
               <div class="col-md-4 col-sm-6 col-xs-12">
                  <ul class="features-right">
                     <li>
                        <i class="flaticon-pantone"></i>
                        <div class="fr-inner">
                           <h4>Limitless Colors</h4>
                           <p>Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. </p>
                        </div>
                     </li>
                     <li>
                        <i class="flaticon-cloud-computing"></i>
                        <div class="fr-inner">
                           <h4>Lifetime Update</h4>
                           <p>Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. </p>
                        </div>
                     </li>
                     <li>
                        <i class="flaticon-line-graph"></i>
                        <div class="fr-inner">
                           <h4>SEO Friendly</h4>
                           <p>Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. </p>
                        </div>
                     </li>
                     <li>
                        <i class="flaticon-coding"></i>
                        <div class="fr-inner">
                           <h4>Simple Clean Code</h4>
                           <p>Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. </p>
                        </div>
                     </li>
                  </ul>
               </div>
               <div class="col-md-4 wow fadeInRight" data-wow-delay="0.5" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInRight;">
                  <div class="full">
                     <div class="center">
                        <img src="images/application_screen.png" alt="#">
                     </div>
                  </div>
               </div>
            </div>
         </div>



         <div class="container">
          <div class="row">
             <div class="col-sm-12">
                <div class="full text_align_center">
                   <div class="heading_main center_head_border heading_style_1">
                      <h2>Te ofrecemos <span>Desarrollo de Apps</span></h2>
                   </div>
                </div>
             </div>
          </div>
          <div class="row app-features">
             <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="features-left">
                   <li>
                      <i class="flaticon-wordpress-logo"></i>
                      <div class="fl-inner">
                         <h4>WordPress Installation</h4>
                         <p>Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. </p>
                      </div>
                   </li>
                   <li>
                      <i class="flaticon-windows"></i>
                      <div class="fl-inner">
                         <h4>Browser Compatible</h4>
                         <p>Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. </p>
                      </div>
                   </li>
                   <li>
                      <i class="flaticon-price-tag"></i>
                      <div class="fl-inner">
                         <h4>eCommerce Ready</h4>
                         <p>Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. </p>
                      </div>
                   </li>
                   <li>
                      <i class="flaticon-new-file"></i>
                      <div class="fl-inner">
                         <h4>Easy to Customize</h4>
                         <p>Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. </p>
                      </div>
                   </li>
                </ul>
             </div>
             <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="features-right">
                   <li>
                      <i class="flaticon-pantone"></i>
                      <div class="fr-inner">
                         <h4>Limitless Colors</h4>
                         <p>Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. </p>
                      </div>
                   </li>
                   <li>
                      <i class="flaticon-cloud-computing"></i>
                      <div class="fr-inner">
                         <h4>Lifetime Update</h4>
                         <p>Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. </p>
                      </div>
                   </li>
                   <li>
                      <i class="flaticon-line-graph"></i>
                      <div class="fr-inner">
                         <h4>SEO Friendly</h4>
                         <p>Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. </p>
                      </div>
                   </li>
                   <li>
                      <i class="flaticon-coding"></i>
                      <div class="fr-inner">
                         <h4>Simple Clean Code</h4>
                         <p>Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. </p>
                      </div>
                   </li>
                </ul>
             </div>
             <div class="col-md-4 wow fadeInRight" data-wow-delay="0.5" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInRight;">
                <div class="full">
                   <div class="center">
                      <img src="images/application_screen.png" alt="#">
                   </div>
                </div>
             </div>
          </div>
       </div>


      </section>
   </body>
