<app-header></app-header>
   <body id="default_theme" class="services">
      <!-- section -->
      <section class="layout_padding layer_style">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <div class="full text_align_center">
                     <div class="heading_main center_head_border heading_style_1">
                        <h2>Te ofrecemos el desarrollo de tu página web</h2>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row app-features">
               <div class="col-md-4 col-sm-6 col-xs-12">
                  <ul class="features-left">
                     <li>
                        <i class="flaticon-wordpress-logo"><img src="../../../assets/buscador.png" width= "60" height= "60" alt="#" /></i>
                        <div class="fl-inner">
                           <h4>Dominios</h4>
                           <p>Planes de 3, 4 y hasta 5 dominios </p>
                        </div>
                     </li>
                     <li>
                        <i class="flaticon-windows"><img src="../../../assets/internet.png" width= "60" height= "60" alt="#" /></i>
                        <div class="fl-inner">
                           <h4>Hosting</h4>
                           <p>Planes de 3,15,25 cuentas de correo </p>
                        </div>
                     </li>

                  </ul>
               </div>
               <div class="col-md-4 col-sm-6 col-xs-12">
                  <ul class="features-right">
                     <li>
                        <i class="flaticon-pantone"><img src="../../../assets/computacion-en-la-nube.png" width= "60" height= "60" alt="#" /></i>
                        <div class="fr-inner">
                           <h4>Seguridad </h4>
                           <p>Protección 24/7 </p>
                        </div>
                     </li>
                     <li>
                        <i class="flaticon-cloud-computing"><img src="../../../assets/servidor.png" width= "60" height= "60" alt="#" /></i>
                        <div class="fr-inner">
                           <h4>Diseño web responsive</h4>
                           <p>Funcionamiento en distintos dispositivos</p>
                        </div>
                     </li>
                  </ul>
               </div>
               <div class="col-md-4 wow fadeInRight" data-wow-delay="0.5" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInRight;">
                  <div class="full">
                     <div class="center">
                        <img src="../../../assets/desarrolloweb.png" alt="#">
                     </div>
                  </div>
               </div>
            </div>

            <a id="precio" class="read_more bg"  [routerLink]="['/precios']" routerLinkActive="router-link-active">Precio</a>


            <hr>
                 </div>




         <div class="container">
          <div class="row">
             <div class="col-sm-12">
                <div class="full text_align_center">
                   <div class="heading_main center_head_border heading_style_1">
                      <h2>Te ofrecemos el desarrollo de tu App</h2>
                   </div>
                </div>
             </div>
          </div>
          <div class="row app-features">
             <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="features-left">
                   <li>
                      <i class="flaticon-wordpress-logo"><img src="../../../assets/ciberespacio.png" width= "60" height= "60" alt="#" /></i>
                      <div class="fl-inner">
                         <h4>Diseño original</h4>
                         <p>Tu aplicación destacará por su hermoso diseño</p>
                      </div>
                   </li>

                   <li>
                      <i class="flaticon-new-file"><img src="../../../assets/servidor.png" width= "60" height= "60" alt="#" /></i>
                      <div class="fl-inner">
                         <h4>Diseño responsive</h4>
                         <p>Funcionamiento en distintos dispositivos </p>
                      </div>
                   </li>
                </ul>
             </div>
             <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="features-right">

                   <li>
                      <i class="flaticon-line-graph"><img src="../../../assets/programacion.png" width= "60" height= "60" alt="#" /></i>
                      <div class="fr-inner">
                         <h4>Control de Usuarios</h4>
                         <p>lleva un control de tus ganancias en descargas</p>
                      </div>
                   </li>
                   <li>
                      <i class="flaticon-coding"><img src="../../../assets/computacion-en-la-nube.png" width= "60" height= "60" alt="#" /></i>
                      <div class="fr-inner">
                         <h4>Seguridad</h4>
                         <p>Protección 24/7</p>
                      </div>
                   </li>
                </ul>
             </div>
             <div class="col-md-4 wow fadeInRight" data-wow-delay="0.5" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInRight;">
                <div class="full">
                   <div class="center">
                      <img src="../../../assets/desarrollo app movil.jpg" alt="#">
                   </div>
                </div>
             </div>
          </div>
          <a id="precio" class="read_more bg"  [routerLink]="['/precios']" routerLinkActive="router-link-active">Precio</a>
            <hr>
       </div>






       <div id="why" class="why">
        <div class="container">
           <div class="row">
              <div class="col-md-12">
                 <div>
                    <h2>Cursos Disponibles </h2>
                 </div>
              </div>
           </div>
           <div class="row">
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                 <div id="box_ho" class="why-box">
                    <i><img src="../../../assets/cursoHTML.jpg" alt="#" width="300" height="260" /></i>
                    <h3>Aprende HTML5</h3>
                    <p>En este curso aprenderemos gratis a maquetar sitios Web con HTML5 y a brindar estilos con CSS. No necesitas conocimientos previos, pues empezaremos desde cero con una serie de ejemplos prácticos, desarrollaremos proyectos reales para aplicar lo aprendido</p>
                 </div>
                 <a class="read_more bg" [routerLink]="['/contactos']" routerLinkActive="router-link-active">Incribirme</a>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                 <div class="why-box">
                    <i><img src="../../../assets/AndroidStudio.png" alt="#" width="400" height="260" /></i>
                    <h3>Aprende AndroidStudio</h3>
                    <p>En este curso aprenderás a programar aplicaciones para Android desde cero, utilizando Android Studio.Empezaremos desde cero con una serie de ejemplos prácticos y al término del curso, desarrollaremos un proyecto real en el cual aplicaremos todo lo aprendido</p>
                 </div>
                 <a class="read_more bg" [routerLink]="['/contactos']" routerLinkActive="router-link-active">Inscribirme</a>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                 <div class="why-box">
                    <i><img src="../../../assets/sql.png" alt="#" width="300" height="260"/></i>
                    <h3>Aprende SQL</h3>
                    <p>Aprende sobre Bases de Datos, teoría y práctica, SQL completo, Base de datos MySQL, HeidiSQL, Workbench, Diagrama EER, AWS RDS.Empezaremos desde cero con una serie de ejemplos prácticos y al término del curso, desarrollaremos un proyectos reale para aplicar aprendido</p>
                 </div>
                 <a class="read_more bg" [routerLink]="['/contactos']" routerLinkActive="router-link-active">Inscribirme</a>
              </div>
           </div>
        </div>
     </div>


      </section>
   </body>
