<body>
  <div id="courseI" class="Courses">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="titlepage">
            <h2>ESTUDIANTES EN EL CURSO </h2>
            <button type="button" class="btn  btn-outline-secondary" routerLink='/admin/mis-cursos' (click)="remover()">Regresar</button>
            <hr>
          </div>
       </div>
      </div>
      <div class="row">
        <div class="col-md-12">
        <div id="tabla">
          <table class="table">
            <thead class="table-warning">
              <tr >
                <th scope="col">Usuario</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Calificación</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let estudiante of estudiantes_finales">
                <th scope="row">{{estudiante.usuario}}</th>
                <td>{{estudiante.nombre}}</td>
                <td>{{estudiante.apellido}}</td>
                <td scope="row" width="9%"><input id="cali" placeholder="{{estudiante.calificacion}}"></td>
                <td><button class="btn2"> Actualizar


                </button></td>


              </tr>
            </tbody>
          </table>

        </div>
      </div>
      </div>
      <hr>
  </div>
</div>
</body>




