<body>
  <div id="courseI" class="Courses">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="titlepage">
            <h2>ESTUDIANTES EN EL CURSO </h2>
            <button type="button" class="btn  btn-outline-secondary" routerLink='/admin/nuevo-curso'>Actualizar</button>
            <hr>
          </div>
       </div>
      </div>
      <div class="row">
        <div class="col-md-12">
        <div id="tabla">
          <table class="table">
            <thead class="table-warning">
              <tr>
                <th scope="col">Usuario</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Calificación</th>
                <th scope="col"></th>
                <th scope="col">Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">usuario1</th>
                <td>nombre1</td>
                <td>apellido1</td>
                <td><input id="cali"></td>
                <td></td>
                <td><button><i class="bi bi-pen"></i></button></td>


              </tr>
            </tbody>
          </table>

        </div>
      </div>
      </div>
      <hr>
  </div>
</div>
</body>




