

<!--
<div *ngFor="let curso of cursos">
  amcakc
  {{curso.id}}
</div>

-->
<h2>TABLA DE CONTROL DE CURSOS</h2>
<hr>
<div id="tabla">
  <table class="table">
    <thead class="table-warning">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Alumnos</th>
        <th scope="col">Precio</th>
        <th scope="col">Ganancia</th>
        <th scope="col">Imagen</th>
        <th scope="col">Fecha</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let curso of cursos">
        <th scope="row">{{curso.id}}</th>
        <td>{{curso.nombre}}</td>
        <td>{{curso.alumnos}}</td>
        <td>{{curso.costo}}</td>
        <td>{{curso.ganancia}}</td>
        <td>
          <img src="../../../assets/{{curso.img}}" width="30px" class="img-fluid" alt="{{curso.nombre}}">
        </td>
        <td>{{curso.fecha}}</td>
      </tr>
    </tbody>
  </table>

</div>
