

<!--
<div *ngFor="let curso of cursos">
  amcakc
  {{curso.id}}
</div>

-->
<!--<app-headerdos></app-headerdos-->
  <body>
  <div id="courseI" class="Courses">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="titlepage">
            <h2>TABLA DE CONTROL DE CURSOS</h2>
            <button type="button" class="btn  btn-outline-secondary" routerLink='/admin/nuevo-curso'>Crear curso</button>
            <hr>
          </div>
       </div>
      </div>
      <div class="row">
        <div class="col-md-12">
        <div id="tabla">
          <table class="table">
            <thead class="table-warning">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Alumnos</th>
                <th scope="col">Precio</th>
                <th scope="col">Ganancia</th>
                <th scope="col">Imagen</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let curso of cursos_nuevos">
                <th scope="row">{{curso.id}}</th>
                <td>{{curso.nombre}}</td>
                <td>{{curso.estudiantes}}</td>
                <td>{{curso.precio}}</td>
                <td>{{curso.ganancia}}</td>
                <td>
                  <img src="../../../assets/{{curso.img}}" width="30px" class="img-fluid" alt="{{curso.nombre}}">
                </td>
                <td><button padding="5%" routerLink="/admin/calificar" class="btn">


                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                  </svg>


                </button></td>



              </tr>
            </tbody>
          </table>

        </div>
      </div>
      </div>
      <hr>
  </div>
</div>
</body>







