.container{
  display: grid;
  align-content: center;
}
.todo2{

  text-align: center;
}

.imagenPrin{
  display: grid;
  align-content: center;
}

h1{
  padding-top: 3%;
  font-weight: 900;
  justify-content: center;
  font-size: 2rem;
}
