<body class="bg-light">

  <div >
    <div  class="container" margin-left=auto  margin-right=auto>
      <div class= "py-5 text-center">
        <img class="d-block mx-auto mb-4" src="../../../assets/crear.png" alt="" width="72" height="57">
        <h2>CAMBIO DE CONTRASEÑA</h2>

      </div>



        <div>

            <div class="row g-3">
              <div class="col-12" id="espacios">
                <label for="firstName" class="form-label">Ingresar contraseña nueva</label>
                <input name="nombreCurso" type="text" class="form-control" id="nombreCurso" placeholder="" value="" required>
              </div>

              <div class="col-12" id="espacios" >
                <label for="address" class="form-label">Ingresar nuevamente contraseña nueva</label>
                <input name="precio" type="text" class="form-control" id="precioC" placeholder="0" required>
              </div>





            </div>


            <button class="w-100 btn btn-lg" type="button"  (click)="cambiarContrasena()">Cambiar contraseña</button>
            <button class="w-100 btn btn-lg" type="button" routerLink="/client/perfil">Regresar al perfil</button>

        </div>

      </div>






