.container {
  display: grid;
  grid-template-columns: auto;
  align-content: center;

}

.btn{

  font-size: 16px;
  background-color: #090808;
  color: #fff;
  padding: 10px 0px;
  width: 100%;
  max-width: 70%;
  display: flex;
  justify-content: center;
  text-align: justify;
  margin: 0 auto;
  margin-top: 3% ;
  margin-bottom: 3%;
}

.btn:hover {
  background: #8308eb;
  color: #fff;
}
