

<body class="bg-light">

<div >
  <div  class="container" margin-left=auto  margin-right=auto>
    <div class= "py-5 text-center">
      <img class="d-block mx-auto mb-4" src="../../../assets/crear.png" alt="" width="72" height="57">
      <h2>Crear Curso Nuevo</h2>

    </div>


      <div>
        <h4 class="mb-3">Datos Generales</h4>

          <div class="row g-3">
            <div class="col-12" id="espacios">
              <label for="firstName" class="form-label">Nombre del Curso</label>
              <input name="nombreCurso" type="text" class="form-control" id="nombreCurso" placeholder="" value="" required>
            </div>

            <div class="col-12" id="espacios" >
              <label for="address" class="form-label">Precio del curso</label>
              <input name="precio" type="text" class="form-control" id="address" placeholder="0" required>
            </div>



            <div class="col-12" id="espacios" >
              <label for="address" class="form-label">Descripción del Curso</label>
              <input name="descripcion" type="text" class="form-control" id="address" required>
            </div>


            <div class="col-12" id="espacios">
              <label for="address" class="form-label">Imágen del curso</label>

              <form name="subida-imagenes" type="POST" enctype="multipart/formdata" >
                <input type="file" name="imagen1" />
                <input type="submit" name="subir-imagen" value="Enviar imagen" />
              </form>

            </div>



          </div>

          <hr class="my-5">
          <h3 class="mb-3">Datos de los módulos</h3>

          <h4 class="mb-3">Módulo 1</h4>

          <div >
            <div class="col-12">
              <label for="firstName" class="form-label">Nombre del módulo </label>
              <input type="text" class="form-control" id="nombreCurso" placeholder="" value="" required>
            </div>



            <div class="col-12">
              <label for="address" class="form-label"> Subtítulo </label>
              <input type="text" class="form-control" id="address"  required>
            </div>

            <div class="col-12">
              <label for="address" class="form-label"> Información </label>
              <input type="text" class="form-control" id="address"  required>
            </div>

            <div class="col-12">
              <label for="address" class="form-label"> Link del video </label>
              <input type="text" class="form-control" id="address"  required>
            </div>

            <div class="col-12">
              <label for="address" class="form-label"> Link de la evaluación</label>
              <input type="text" class="form-control" id="address"  required>
            </div>

            <hr class="my-5">
            <h4 class="mb-3">Módulo 2</h4>

            <div class="row g-3">
              <div class="col-12">
                <label for="firstName" class="form-label">Nombre del módulo </label>
                <input type="text" class="form-control" id="nombreCurso" placeholder="" value="" required>
              </div>



              <div class="col-12">
                <label for="address" class="form-label"> Subtítulo </label>
                <input type="text" class="form-control" id="address"  required>
              </div>

              <div class="col-12">
                <label for="address" class="form-label"> Información </label>
                <input type="text" class="form-control" id="address"  required>
              </div>

              <div class="col-12">
                <label for="address" class="form-label"> Link del video </label>
                <input type="text" class="form-control" id="address"  required>
              </div>

              <div class="col-12">
                <label for="address" class="form-label"> Link de la evaluación</label>
                <input type="text" class="form-control" id="address"  required>
              </div>


              <hr class="my-5">
            <h4 class="mb-3">Módulo 3</h4>

            <div class="row g-3">
              <div class="col-12">
                <label for="firstName" class="form-label">Nombre del módulo </label>
                <input type="text" class="form-control" id="nombreCurso" placeholder="" value="" required>
              </div>



              <div class="col-12">
                <label for="address" class="form-label"> Subtítulo </label>
                <input type="text" class="form-control" id="address"  required>
              </div>

              <div class="col-12">
                <label for="address" class="form-label"> Información </label>
                <input type="text" class="form-control" id="address"  required>
              </div>

              <div class="col-12">
                <label for="address" class="form-label"> Link del video </label>
                <input type="text" class="form-control" id="address"  required>
              </div>

              <div class="col-12">
                <label for="address" class="form-label"> Link de la evaluación</label>
                <input type="text" class="form-control" id="address"  required>
              </div>

              </div>
            </div>
          </div>

          <hr class="my-4">

          <button class="w-100 btn btn-lg" type="submit">Crear Curso</button>
          <button class="w-100 btn btn-lg" type="submit" routerLink="/admin/mis-cursos">Regresar</button>

      </div>
    </div>






