<!--<app-headerdos></app-headerdos-->
<body>
<div id="serviceI" class="Services">
  <div class="container">
     <div class="row">
        <div class="col-md-12">
           <div class="titlepage">
              <h2>¡Bienvenido al panel de control!</h2>
              <hr>
           </div>
        </div>
     </div>
     <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <a routerLink='/admin/mis-cursos' >
           <div class="Services-box">
              <i><img src="../../../assets/panel-de-control.png" alt="#" /></i>
              <h3>Tabla de Cursos</h3>
           </div>
          </a>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
          <a routerLink='/admin/estadistica' >
           <div class="Services-box">
              <i><img src="../../../assets/grafico-de-barras.png" alt="#" /></i>
              <h3>Estadísticas</h3>
           </div>
          </a>
        </div>

     </div>
     <hr>
  </div>
</div>
</body>
