.container{
  display: grid;
  align-content: center;
}
.todo{
  padding-bottom: 40%;
}

.imagenPrin{
  display: grid;
  align-content: center;
}

.btn{

  font-size: 16px;
  background-color: #090808;
  color: #fff;
  width: 50%;

  display: flex;
  justify-content: center;
  text-align: justify;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 1%;
  padding-top: 1%;
}


.btn:hover {
  background: #8308eb;
  color: #fff;
}
