
<body>

  <div class="container">
    <main class="todo">
      <div class="py-5 text-center">
        <h2>Perfil</h2>
        <p class="lead">¡Esta es la información de tu perfil!</p>
      </div>

      <div class="row g-5">
        <div class="col-md-5 col-lg-4 order-md-last">
          <i class="imagenPrin"><img src="../../../assets/usuario.png" width="150px" height = "150px" alt="#" /></i>
        </div>
        <div class="col-md-7 col-lg-8">
          <h4 class="mb-3">{{nombresC}}</h4>
          <form>
            <div class="row g-3">
              <div class="col-sm-6">
                <label for="firstName" class="form-label">Nombres</label>
                <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                <div class="invalid-feedback">
                  Valid first name is required.
                </div>
              </div>

              <div class="col-sm-6">
                <label for="lastName" class="form-label">Apellidos </label>
                <input type="text" class="form-control" id="lastName" placeholder="" value="" required>

              </div>

              <div class="col-12">
                <label for="username" class="form-label">Nombre Usuario</label>
                <div class="input-group has-validation">
                  <span class="input-group-text">@</span>
                  <input type="text" class="form-control" id="username" placeholder="Username" required>

                </div>
              </div>

              <div class="col-12">
                <label for="email" class="form-label">Email </label>
                <input type="email" class="form-control" id="email" placeholder="you@example.com">

              </div>

            </div>
            <hr class="my-4">
          </form>



        </div>
      </div>
    </main>


  </div>


</body>

