
<!DOCTYPE html>
<html lang="en">

   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="#" /></div>
      </div>
      <!-- end loader -->
      <!-- header -->


      <!-- end header inner -->
      <!-- end header -->
      <!-- banner -->
      <section class="banner_main">
         <div class="container">
            <div class="row d_flex">
               <div class="col-md-5">
                  <div class="text-bg">
                     <h1>¡Da el salto <br> al desarrollo web!</h1>
                     <span>¡No pierdas mas dinero!</span>
                     <p>Contrata tu propio sitio web o aprende a desarrollar con nosotros en nuestros cursos online </p>
                     <a href="#service">Conocer más</a>
                  </div>
               </div>
               <div class="col-md-7">
                  <div class="text-img">
                     <figure><img src="images/img.png" /></figure>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end banner -->
      <!-- Hosting -->
      <div id="" class="hosting">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>¿Quiénes somos?</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="web_hosting">
                     <figure><img  src="images/equi.jpg" width="300" height="200" alt="#"/></figure>
                     <p>Somos un grupo de Ingenieros que brinda el servicio de creación de páginas web con mantenimiento anual y diseños originales. Además ofrecemos cursos donde podrás aprender a desarrollar</p>
                     <a href="/equipo">Read more</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end Hosting -->
      <!-- Services  -->
      <div id="service" class="Services">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Mejores Servicios</h2>
                     <p>Te ofrecemos una cantidad amplia de servicios<br>
                        Escríbenos para más información
                     </p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="Services-box">
                     <i><img src="../../../assets/service2.png" alt="#" /></i>
                     <h3>Desarrollo de página web</h3>
                     <p>Ofrecemos la creación de páginas desde cero, con todo el paquete incluido</p>
                  </div>
               </div>

               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="Services-box">
                     <i><img src="../../../assets/service5.png" alt="#" /></i>
                     <h3>Cursos Online</h3>
                     <p>Aprende a desarrollar por tu propia cuenta.Inscríbete en nuestros cursos online</p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="Services-box">
                     <i><img src="../../../assets/service6.png" alt="#" /></i>
                     <h3>Aplicaciones móviles</h3>
                     <p>Paquete completo para desarrollar tu idea en una aplicación móvil</p>
                  </div>
               </div>
               <a class="read_more" href="#">Saber más</a>
            </div>
         </div>
      </div>
      <!-- end Servicess -->
      <!--  footer -->
      <footer>
         <div class="footer">
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <p>© 2021 Derechos Reservados. <a href="https://html.design/">Webgit</a></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>

      </footer>
      <!-- end footer -->
      <!-- Javascript files-->

   </body>
</html>
