<!--<app-header></app-header>-->
  <body id="default_theme" class="services">

      <!-- section -->
      <section class="layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <div class="full" style="margin-top:10px;">
                     <div class="row">
                        <div class="col-sm-12 col-md-4">
                           <div class="table_price text_align_center">
                              <div class="table_price_head">
                                 <h5>Básico</h5>
                              </div>
                              <div class="table_price_cont">
                                 <div class="table_price_per">
                                    <p>$29.00<br>
                                       <small>/mes</small>
                                    </p>
                                 </div>
                                 <div class="table_price_cont_bottm">
                                    <ul>
                                       <li>Servicio básico</li>
                                       <li>Mantenimiento 8/7</li>
                                       <li>1 Asesor</li>
                                       <li>3 cuentas vinculadas</li>
                                    </ul>
                                 </div>
                              </div>
                              <a id="precio" class="read_more bg"  routerLink='/proceso' >Comprar</a>
                           </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                           <div class="active_price table_price text_align_center">
                              <div class="table_price_head">
                                 <h5>Estándar</h5>
                              </div>
                              <div class="table_price_cont">
                                 <div class="table_price_per">
                                    <p>$39.00<br>
                                       <small>/mes</small>
                                    </p>
                                 </div>
                                 <div class="table_price_cont_bottm">
                                    <ul>
                                       <li>Servicio Pro</li>
                                       <li>Mantenimiento 24/7</li>
                                       <li>3 Asesores</li>
                                       <li>10 cuentas vinculadas</li>
                                    </ul>
                                 </div>
                              </div>
                              <a id="precio" class="read_more bg"  routerLink='/proceso' >Comprar</a>
                           </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                           <div class="table_price text_align_center">
                              <div class="table_price_head">
                                 <h5>Premium</h5>
                              </div>
                              <div class="table_price_cont">
                                 <div class="table_price_per">
                                    <p>$45.00<br>
                                       <small>/mes</small>
                                    </p>
                                 </div>
                                 <div class="table_price_cont_bottm">
                                    <ul>
                                       <li>Servicio Premium</li>
                                       <li>Mantenimiento 24/7</li>
                                       <li>3 Asesores</li>
                                       <li>20 cuentas vinculadas</li>
                                    </ul>
                                 </div>
                              </div>
                              <a id="precio" class="read_more bg"  routerLink='/proceso' >Comprar</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <a id="precio" class="read_more bg"  routerLink='/servicios' >Regresar a servicios</a>
      </section>


   </body>

