

        <div class="nav">
          <ul class="nav_links">


              <li>
                  <a class="nav-link" routerLink="">
                      <i class='bx bx-tachometer'></i>
                      <span class="link_name" > Panel de Control</span>

                  </a>
                  <ul class="sub_menu blank">
                      <li><a class="link_name" href="#">Panel de Control</a></li>
                  </ul>
              </li>
              <li>
                  <div class="icon_link">
                      <a class="nav-link" routerLink="">
                          <i class='bx bxs-book-alt'></i>
                          <span class="link_name"> Perfil </span>
                      </a>
                      <i class='bx bx-chevron-right arrow'></i>
                  </div>

              </li>

              <li>
                  <div class="icon_link">
                      <a class="nav-link" routerLink="/">
                          <i class='bx bx-list-check'></i>
                          <span class="link_name"> Mis Cursos </span>
                      </a>
                      <i class='bx bx-chevron-right arrow'></i>
                  </div>

              </li>

              <li>
                  <div class="icon_link">
                      <a class="nav-link" routerLink="/">
                          <i class='bx bxs-report' ></i>
                          <span class="link_name"> Reportes </span>
                      </a>
                      <i class='bx bx-chevron-right arrow'></i>
                  </div>
              </li>
              <li class="cerrar">
                <div class="icon_link">
                    <a class="nav-link" routerLink="/">
                        <i class='bx bxs-report' ></i>
                        <span class="link_name"> Cerrar Sección </span>
                    </a>
                    <i class='bx bx-chevron-right arrow'></i>
                </div>
            </li>
          </ul>
      </div>


